





@media (max-width:550px) {

    .content{
        padding:0;
        background-color: unset;
    }    
}

@media (max-width:460px) {

.header {
    height:5rem;
}
.content {
    width: 90%;
}

.firstbox{
    width: fit-content;
    height: fit-content;
}

.secondbox {
    width: fit-content;
    height: fit-content;
}
.content {
    padding-bottom:5rem;
}
}


@media (max-width:380px) {

    .body {
        background-position:center;
    }

    .headertext {
        text-align: center;
    }

    .content{
        padding-top:2rem;
        padding-bottom:2rem;

    }
    
.firstbox {
    flex-direction:column;
}

.secondbox {
    flex-direction: column;
}


}
    
